# Local data and references
references/references
scripts/historian-generator/output
datasets/datasets

*.log

# Python
__pycache__/
*.pyc
.env
.venv/
scripts/etl-pipeline/output/etl_pipeline.db
scripts/analytics-pipeline/output/baseline_validation/P-0100_flow_m3h_degrading.html
scripts/analytics-pipeline/output/baseline_validation/P-0100_vibration_mm_s_degrading.html
scripts/analytics-pipeline/output/baseline_validation/P-0200_flow_m3h_healthy.html
scripts/analytics-pipeline/output/baseline_validation/P-0200_vibration_mm_s_healthy.html
scripts/analytics-pipeline/output/anomaly_detection/bearing_P-0100.html
scripts/analytics-pipeline/output/anomaly_detection/cavitation_P-0300.html
scripts/analytics-pipeline/output/anomaly_detection/insulation_P-0500.html
scripts/analytics-pipeline/output/detection_performance/trend_detection/bearing_trend_168h.html
scripts/analytics-pipeline/output/detection_performance/trend_detection/bearing_trend_72h.html
